

}
.header2{
    background-color: #454564;
    padding: 20px;
    text-align: center;
    font-family: "Snell Roundhand";
    font-size: 35px;
}
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}
/* header styling*/
.header {
    background-color:white;
    text-align: center;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #dddaaa;
}

/* Style the topnav links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}
        

}
a{
    display: inline;
}
li a {
    display: inline;
    color:#454564;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #666
}

#wrapper{
    width: 80%;
    margin: auto;
}